#content {
    width: 70%; 
    margin: 0 auto; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    background-color: #b3b3b3;
}

.footer-social-icons a {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #b3b3b3;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-social-icons a:hover {
    background-color: #888;
    transform: scale(1.1);
}

.copyright {
    font-size: 14px;
    margin-top: auto;
    text-align: center;
    color: #333;
}
